/*FOOTER*/
footer {
    background-color: black;

    .icono {
        display: flex;
        justify-content: space-around;
    }

    .colum {
        display: flex;
        justify-content: space-around;
}


    @media (max-width: 300px) {

        .icono{
            display: flex;
            flex-direction: column;
            
        }

        .colum {
            display: flex;
            flex-direction: column;
        }
    }
}